* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #acf2ac;
}

.quiz-box {
  background-color: white;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1.4px solid #ffcc33;
}
.title {
  color: white;
  background-color: #ffcc33;
  border-radius: 0.5rem;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.timer {
  background-color: #acf2ac;
  padding: 4px;
  border-radius: 4px;
  font-weight: 600;
}
.question-number {
  font-weight: bolder;
}
.question {
  color: #ffcc33;
  font-size: larger;
  font-weight: bolder;
}
.buttons {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.btn {
  text-align: left;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid #acf2ac;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px #ffcc33;
}
.btn:hover {
  background-color: #acf2ac;
}
.btn:active {
  background-color: #ffcc33;
}
hr {
  border-top: 0.5px solid gray;
}
footer {
  margin-right: auto;
}

#score {
  color: black;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}
.quiz-repeat a {
  font-size: 1.5rem;
  text-decoration: none;
  color: green;
  transition: all 0.3s;
}
.quiz-repeat a:hover {
  background-color: red;
}
